{{ if (eq .Section "blog") }}
<div class="post-info">
    <span>
        {{- if .Params.Author }}
            {{ .Params.Author }}
        {{- else }}
            {{ .Site.Author.name }}
        {{- end }}
    </span> &middot; 
    <span>
        <time datetime="{{ .PublishDate }}">{{ i18n "publishdate" . }}</time>
    </span> &middot;
    <span>
        {{ .ReadingTime }}&nbsp;{{ cond (eq .ReadingTime 1) (i18n "minute") (i18n "minutes") }}
    </span> &middot;
    <span>
        {{ .WordCount }}&nbsp;{{ i18n "words" }}
    </span>
</div>
{{ end }}
