{{ $blogcount := len (where .Site.RegularPages "Section" "!=" "") }}

<div>
    <p>
        Totaal aantal blogs: {{ $blogcount }}.
    </p>
    <br>
</div>

{{ $scratch := newScratch }}
{{ range (where .Site.RegularPages "Type" "in" (slice "blog")) }}
    {{ $scratch.Add "wordcount" .WordCount }}
{{ end }}

{{ $wordcount := $scratch.Get "wordcount" }}

<div>
    <p>
        Totaal aantal woorden: {{ lang.NumFmt 0 $wordcount "- , ." }}.
    </p>
    <p>
        Gemiddeld aantal woorden per blog: {{ lang.NumFmt 0 (div $wordcount $blogcount) "- , ." }}.
    </p>
    <br>
</div>

<div>
    <p>
        Totaal aantal tags: {{ len .Site.Taxonomies.tags }}
    </p>
    <div>
        <p>Top tien tags:</p>
        <ol>
            {{ range (first 10 (sort .Site.Taxonomies.tags.ByCount )) }}
                <li>
                    <a href={{.Page.Permalink}}>{{ .Name | humanize }}</a> 
                    <span>
                        ({{ .Count }})
                    </span>
                </li>
            {{ end }}
        </ol>
    </div>
</div>
